<StackLayout class="form">
    <StackLayout class="input-field">
    <Label text="GESTION E-MAIL" class="email"></Label>
    <TextField class="input" hint="E-mail actuel"></TextField>
    <TextField class="input" hint="Nouvel E-mail"></TextField>
    <TextField class="input" hint="confirmation E-mail"></TextField>
    <FlexboxLayout flexDirection="row" flexWrap="wrap" justifyContent="flex-start">  
    <Button [nsRouterLink]="['/utilisateur/gestioncompte']" text="VALIDER" class="valider_email" backgroundColor= ""></Button> 
    </FlexboxLayout>
</StackLayout>
<BottomNavigation height="100%">
    <TabStrip>
        <TabStripItem>
            <Label col="0" text="&#xf05a;" class="nt-icon fas"></Label>
        </TabStripItem>
        <TabStripItem>
            <Label col="1" text="&#xf041;" class="nt-icon fas"></Label>
        </TabStripItem>
        <TabStripItem>
            <Label col="2" text="&#xf3c5;" class="nt-icon fas"></Label>
        </TabStripItem>
    </TabStrip>
</BottomNavigation>
</StackLayout>