<GridLayout class="pagecontent"rows="50" columns='*'>

  <Label [nsRouterLink]="['/utilisateur/cguappli']" class="pagecontent-placeholder" text="Conditions générales d'utilisations" row="0" color="black" fontWeight="Bold"></Label>

</GridLayout>


 <StackLayout class="form" marginTop="25%">
    <StackLayout class="input-field">
      <TextField class="input" hint="entrez votre email" ></TextField>
    </StackLayout>
  
    <StackLayout class="input-field">
      <TextField class="input"hint="entrez votre mot de passe" ></TextField>
    </StackLayout>
  
    
    <StackLayout class="input-field">
      <TextField class="input"hint="entrez N° de téléphone" ></TextField>
    </StackLayout>

    <Button [nsRouterLink]="['/utilisateur/choixstation']" backgroundColor="black" color="#F8FD07" text="INSCRIPTION" (tap)="submit()"></Button>
  </StackLayout> 
 <!-- < <StackLayout >
  RadioGroup  [(value)] = "dataBoundVariable" >
      <RadioButton text = "j'accepte les conditions générales d'utilisations " > </RadioButton >  
  </RadioGroup> 
</StackLayout>-->
  
