<GridLayout backgroundColor="black" marginTop="10%" width="100%" height="33%" marginBottom="10%">
    <Label color="#F8FD07" class="page__content-placeholder" text="NEIGE" fontSize="25px" row="0"
        class="encadre" column="0" fontWeight="Bold"></Label>
</GridLayout>
<GridLayout backgroundColor="white" class="encadre" borderRadius="10%" marginTop="20%" marginLeft="5%"
    marginRight="5%" rows="50,30" columns="*,*">
    <Label color="black" class="page__content-placeholder" text="CHUTE DE NEIGE" row="0" column="0"
        fontSize="15px" fontWeight="Bold"></Label>
    <!-- <Image row="0" column="1" src=""></Image> -->
    <Label color="black" class="page__content-placeholder" text="Prevision" row="1" column="0"
        fontWeight="Bold"></Label>
    <Label color="black" class="page__content-placeholder" text="5cm" row="1" column="1"
        fontWeight="Bold"></Label>
</GridLayout>
<GridLayout backgroundColor="white" class="encadre" borderRadius="10%" marginTop="20%" marginLeft="5%"
    marginRight="5%" rows="50,30,30,30" columns="*,*,*">
    <Label color="black" class="page__content-placeholder" text="HAUTEUR DE NEIGE" row="0" column="0"
        colspan="2" fontSize="15px" fontWeight="Bold"></Label>

    <Image row="1" column="0" colspan="2" rowspan="3" src="~/images/logo_montagne.png"></Image>
    <Label color="black" class="page__content-placeholder" text="300cm|2500m" row="1" column="3"
        fontWeight="Bold"></Label>
    <Label color="black" class="page__content-placeholder" text="180cm|1800m" row="2" column="3"
        fontWeight="Bold"></Label>
    <Label color="black" class="page__content-placeholder" text="90cm|1600m" row="3" column="3"
        fontWeight="Bold"></Label>
</GridLayout>
<GridLayout backgroundColor="white" class="encadre" borderRadius="10%" marginTop="20%" marginLeft="5%"
    marginRight="5%" rows="50,30,30,30" columns="*,*,*">
    <Label color="black" class="page__content-placeholder" text="RISQUE AVALANCHE" fontSize="15px" row="0"
        column="0" colspan="2" fontWeight="Bold"></Label>
    <!-- <Image row="1" column="3"  src=""></Image> 
 <Image row="1" column="0" colspan="3"  src=""></Image> -->

    <Label color="black" class="page__content-placeholder" text="Risque:2/5" row="2" column="1"
        fontWeight="Bold"></Label>

</GridLayout>