<ActionBar>
    <Label class="blackPage" text="SIGNALEMENT ENVOYE !"></Label>
</ActionBar>
<GridLayout rows="260, 360">

    <ContentView row="0" class="danger_button" text="" width="600px" height="600px" backgroundColor="#FF7F00"></ContentView> 

    <Label row="1" text="MERCI pour votre contribution active au programme de signalement partricipatif mis en place par la station. 

Vous pouvez suivre l’évolution de votre signalement dans la rubrique “Mes signalements”" textWrap="true" class="message_confirmation"></Label>
    
</GridLayout>

<StackLayout>
    <BottomNavigation height="100%">
        <TabStrip>
            <TabStripItem>
                <Label col="0" text="&#xf015;" class="nt-icon fas"></Label>
            </TabStripItem>
            <!-- <TabStripItem>
                <Label col="0" text="Accueil" class="nt-icon fas"></Label>
            </TabStripItem> -->
            <TabStripItem>
                <Label col="2" text="&#xf573;" class="nt-icon fas"></Label>
            </TabStripItem>
            <!-- <TabStripItem>
                <Label col="0" text="Mes signalements" class="nt-icon fas"></Label>
            </TabStripItem> -->
        </TabStrip>
    </BottomNavigation>
</StackLayout>