<ScrollView>
    <GridLayout class="pagecontent" backgroundColor="#3E3F32">
        <FlexboxLayout backgroundColor="#3E3F32" flexDirection="row" flexWrap="wrap" justifyContent="space-around"
            marginTop="50%">

        <Label backgroundColor="#3E3F32" class="pagecontent-placeholder" text="Le blessé pratique" row="0"
            color="white" fontSize="30em" fontWeight="Bold" marginbottom="100%" marginLeft="10%"
            marginRight="10%"></Label>
        <Label class="position" [nsRouterLink]="['/sos/blessure']" color="white" paddingTop="50%" paddingLeft="0%" class="bouttonchute" class="iconetotal"
            text="M" color="white" fontWeight="Bold" width="150em" height="150em"
            backgroundColor="#FF0000" (tap)="activiteSosSki('Ski')"></Label>
        <Label  class="bouttonchute" [nsRouterLink]="['/sos/blessure']" color="white" paddingTop="40%" paddingLeft="10%" text="H"
            class="iconetotal" width="150em" height="150em" fontWeight="Bold" backgroundColor="#FF0000" (tap)="activiteSosSnow('Snowboard')"></Label>
        <Label  class="bouttonchute" [nsRouterLink]="['/sos/blessure']" color="white" paddingTop="30%" paddingLeft="10%" text="K" class="iconeluge"
            width="150em" height="150em" fontWeight="Bold" backgroundColor="#FF0000" (tap)="activiteSosLuge('Luge')"></Label>

        <Label  class="bouttonchute" [nsRouterLink]="['/sos/blessure']" color="white" paddingTop="30%" paddingLeft="12%" text="I" class="iconetotal"
            width="150em" height="150em" fontWeight="Bold" backgroundColor="#FF0000" (tap)="activiteSosRandonee('Randonee')"></Label>

        <!-- <Button text="Envoyer"  backgroundColor="#0DF24D" color="white" (tap)="submit()"
            fontSize="Large" class="soumission" marginTop="100%"></Button> -->
        </FlexboxLayout>
    </GridLayout>

</ScrollView> 