<StackLayout class="form">
    <StackLayout class="input-field">
    <Label text="GESTION MOT DE PASSE" class="motDePasse"></Label>
    <TextField class="input" hint="Mot de passe actuel"></TextField>
    <TextField class="input" hint="Nouveau mot de passe"></TextField>
    <TextField class="input" hint="Confirmation mot de passe"></TextField>
    <FlexboxLayout flexDirection="row" flexWrap="wrap" justifyContent="flex-start">  
    <Button [nsRouterLink]="['/utilisateur/gestioncompte']" text="VALIDER" class="valider_mdp"></Button> 
    </FlexboxLayout>
</StackLayout>
<BottomNavigation height="100%">
    <TabStrip>
        <TabStripItem>
            <Label col="0" text="&#xf05a;" class="nt-icon fas"></Label>
        </TabStripItem>
        <TabStripItem>
            <Label col="1" text="&#xf041;" class="nt-icon fas"></Label>
        </TabStripItem>
        <TabStripItem>
            <Label col="2" text="&#xf3c5;" class="nt-icon fas"></Label>
        </TabStripItem>
    </TabStrip>
</BottomNavigation>
</StackLayout>