<ActionBar class="actionBarDanger">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="greyPage" text="SIGNALER UN DANGER"></Label>
</ActionBar>

<!-- <FlexboxLayout class="search__page__content" flexDirection="row" flexWrap="wrap" justifyContent="space-around">
    <Label class="danger_button" text="Etat de la piste" width="135" height="135" backgroundColor="#FFFFFF"></Label>
    <Label class="danger_button" text="Conditions météo" width="135" height="135" backgroundColor="#F8FD07"></Label>
    <Label class="danger_button" text="Avalanche" width="135" height="135" backgroundColor="#C4C4C4"></Label>
    <Label class="danger_button" text="Avalanche" width="135" height="135" backgroundColor="#C4C4C4"></Label>
    <Label class="danger_button" text="Crevasse" width="135" height="135" backgroundColor="#FF5E69"></Label>
    <Label class="danger_button" text="Element sur la piste" width="135" height="135" backgroundColor="#EC4621"></Label>
    <Label class="page__content-placeholder" text="Signalétique" width="135" height="135" backgroundColor="#E6D005"></Label>
    <Label class="page__content-placeholder" text="Animaux" width="135" height="135" backgroundColor="#05E65A"></Label>
    <Label class="page__content-placeholder" text="Autres" width="135" height="135" backgroundColor="#1184FF"></Label>
</FlexboxLayout> -->
<ScrollView>
<FlexboxLayout class="search__page__content" flexDirection="row" flexWrap="wrap" justifyContent="space-around">
    <Label class="danger_button" id="Etat_piste" text="Etat de la piste" width="400px" height="400px" backgroundColor="#FFFFFF"></Label>
    <Label class="danger_button" id="Meteorologie" text="Météo" width="400px" height="400px" backgroundColor="#F8FD07"></Label>
    <Label class="danger_button" id="Avalanche" text="Avalanche" width="400px" height="400px" backgroundColor="#C4C4C4"></Label>
    <Label class="danger_button" id="Crevasse" text="Crevasse" width="400px" height="400px" backgroundColor="#FF5E69"></Label>
    <Label class="danger_button" id="Obstacle" text="Obstacle" width="400px" height="400px" backgroundColor="#EC4621"></Label>
    <Label class="danger_button" id="Signaletique" text="Signalétique" width="400px" height="400px" backgroundColor="#E6D005"></Label>
    <Label class="danger_button" id="Animaux" text="Animaux" width="400px" height="400px" backgroundColor="#05E65A"></Label>
    <Label class="danger_button" id="Autres" text="Autres" width="400px" height="400px" backgroundColor="#1184FF"></Label>
</FlexboxLayout>
</ScrollView>

<!-- <ScrollView>
    <Label class="page__content-placeholder" text="CAUSE DE BLESSURE" row="0" color="white"fontWeight="Bold" ></Label>
    <FlexboxLayout flexDirection="row" flexWrap="wrap" rows="100, 100, 100"justifyContent="space-around">
        <ContentView row="0" class="danger_button" text="Chute" width="300px" height="300px" color="black" backgroundColor="#FF0000"></ContentView>
        <ContentView row="1" class="danger_button" text="Collision" width="300px" height="230px"color="black" backgroundColor="#FF0000"></ContentView>
        <ContentView row="2" class="danger_button" text="Autre" width="300px" height="300px" color="black"backgroundColor="#FF0000"></ContentView>
        <ContentView  row="3" class="danger_button" text="Chute" width="300px" height="300px" color="black" backgroundColor="#FF0000"></ContentView>
        <ContentView  row="4" class="danger_button" text="Collision" width="300px" height="300px"color="black" backgroundColor="#FF0000"></ContentView>
    </FlexboxLayout>
</ScrollView>
<ScrollView>
    <Label class="page__content-placeholder" rows="100, 100, 100" text="TYPE DE BLESSURE" row="2" color="white"fontWeight="Bold"></Label>
    <FlexboxLayout  flexDirection="row" flexWrap="wrap" row="3"justifyContent="space-around">
        <ContentView  row="0" class="danger_button" text="Chute" width="300px" height="300px" color="black" backgroundColor="#FF0000"></ContentView>
        <ContentView  row="1" class="danger_button" text="Collision" width="300px" height="300px"color="black" backgroundColor="#FF0000"></ContentView>
        <ContentView  row="2" class="danger_button" text="Autre" width="300px" height="300px" color="black"backgroundColor="#FF0000"></ContentView>
    </FlexboxLayout>
</ScrollView> -->

<!-- <Label text="Etat de la piste" class="Etat_piste"></Label>
<Label text="Conditions météo" class="Conditions_meteo"></Label>
<Label text="Avalanche" class="Avalanche"></Label>
<Label text="Crevasse" class="Crevasse"></Label>
<Label text="Element sur la piste" class="Element_piste"></Label>
<Label text="Signalétique" class="Signaletique"></Label>
<Label text="Animaux" class="Animaux"></Label>
<Label text="Autres" class="Autres"></Label> -->