<StackLayout>
    <Tabs>
        <TabStrip>
            <TabStripItem>
                <Label text="IDENTITE"></Label>
            </TabStripItem>
            <TabStripItem>
                <Label text="CONSTANTES"></Label>
            </TabStripItem>
            <TabStripItem>
                <Label text="DOSSIER MEDICAL"></Label>
                 <!-- <Label text="" class="nt-icon fas"></Label> -->
            </TabStripItem>
            <TabStripItem>
                <Label text="CONTACT"></Label>
                <!-- <Label text="" class="nt-icon fas"></Label> -->
            </TabStripItem>
        </TabStrip>
        <TabContentItem>
            <GridLayout>
                <ns-formulaire-identite></ns-formulaire-identite>
            </GridLayout>
        </TabContentItem>
        <TabContentItem>
            <GridLayout>
                <ns-formulaire-constantes></ns-formulaire-constantes>
            </GridLayout>
        </TabContentItem>
        <TabContentItem>
            <GridLayout>
                <ns-formulaire-dossier-medical></ns-formulaire-dossier-medical>
            </GridLayout>
        </TabContentItem>
        <TabContentItem>
            <GridLayout>
                <ns-formulaire-contact></ns-formulaire-contact>
            </GridLayout>
        </TabContentItem>
    </Tabs>
</StackLayout>