<ActionBar class="actionBarSignalement">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left" >
    </ActionItem>
    <Label class="blackPage" text="PISTES ET REMONTEES"></Label>
</ActionBar>
























































<Image src="res://logo"/> 
<ScrollView orientation="vertical">
<StackLayout>
<GridLayout backgroundColor="white" columns="*,150" rows="50,1,50,50,50,50" >
    <Label color="black" class="page__content-placeholder" text="Ouverture des pistes" row="0" column="0" colspan="4"
    fontWeight="Bold" textAlign="center"></Label>
    <StackLayout class="hr"row="1" colspan="2"></StackLayout>

    <Label backgroundColor="#247DE4"color="white" class="page__content-placeholder" text="70% du domaine" row="2" column="0" rowspan="4"
    fontWeight="Bold" width="500px" height="500px" id="domaine"></Label>
    <Label backgroundColor="#087A06"color="white" class="page__content-placeholder" text="3/6" row="2" column="1" 
    fontWeight="Bold" paddingLeft="100px" paddingRight="100px" marginRight="40px"></Label>
    <Label backgroundColor="#5A57E0"color="white" class="page__content-placeholder" text="5/8" row="3" column="1" 
    fontWeight="Bold" paddingLeft="100px" paddingRight="100px" marginRight="40px"></Label>
    <Label backgroundColor="#F10D0D"color="white" class="page__content-placeholder" text="3/5" row="4" column="1" 
    fontWeight="Bold" paddingLeft="100px" paddingRight="100px" marginRight="40px"></Label>
    <Label backgroundColor="black" color="white" class="page__content-placeholder" text="5/5" row="5" column="1" 
    fontWeight="Bold" paddingLeft="100px" paddingRight="100px" marginRight="40px"></Label>
    
</GridLayout>
<GridLayout backgroundColor="white"columns="*,*,*,*" rows="60,1,15,30,30">
    <Label color="black" class="page__content-placeholder" text="Ouverture des remontées" row="0" column="0" colspan="4" 
    fontWeight="Bold" textAlign="center"></Label>
    <StackLayout class="hr"row="1" colspan="4"></StackLayout>
    <Image row="2" column="1"  src=""></Image>
    <Image row="2" column="2"  src=""></Image>
    <Image row="2" column="3"  src=""></Image>
    <Image row="2" column="4"  src=""></Image>
    <Label color="black" class="page__content-placeholder" text="Tapis" row="3" column="0" fontWeight="Bold" fontSize="15"></Label>
    <Label color="black" class="page__content-placeholder" text="Teleski" row="3" column="1" fontWeight="Bold" fontSize="15"></Label>
    <Label color="black" class="page__content-placeholder" text="Telesiège" row="3" column="2" fontWeight="Bold" fontSize="15"></Label>
    <Label color="black" class="page__content-placeholder" text="Télécabine" row="3" column="3" fontWeight="Bold" fontSize="15"></Label>

    <Label color="black" class="page__content-placeholder" text="2/2" row="4" column="0" fontWeight="Bold"></Label>
    <Label color="black" class="page__content-placeholder" text="7/7" row="4" column="1" fontWeight="Bold"></Label> 
    <Label color="black" class="page__content-placeholder" text="14/15" row="4" column="2" fontWeight="Bold"></Label> 
    <Label color="black" class="page__content-placeholder" text="2/3" row="4" column="3" fontWeight="Bold"></Label>   
</GridLayout>
<GridLayout backgroundColor="white" rows="30,30,30,30,40,40,40" >
    <StackLayout class="hr"row="0" ></StackLayout>
    <Label color="black" class="page__content-placeholder" text="CHOIX DE SECTEUR" backgroundColor="#000000" color="#FFFF00" row="1" fontWeight="Bold"></Label>
    <StackLayout class="hr"row="2"></StackLayout>
    <Label color="black" class="page__content-placeholder" text="DEBUTANT" backgroundColor="#000000" color="#FFFF00" row="3" fontWeight="Bold"></Label>
    <StackLayout class="hr"row="4"></StackLayout>
    <Label color="black" class="page__content-placeholder" text="CONFIRME" backgroundColor="#000000" color="#FFFFFF" row="5" fontWeight="Bold"></Label>
    <StackLayout class="hr"row="6"></StackLayout>
</GridLayout>
<GridLayout backgroundColor="white" rows="30,30,30,30,40,40,40,40,40,40,40" >
    <StackLayout class="hr"row="0" ></StackLayout>
    <ContentView color="black" class="page__content-placeholder" text="TYPE DE REMONTEES" backgroundColor="#000000" color="#FFFF00" row="1" fontWeight="Bold"></ContentView>
    <StackLayout class="hr"row="2"></StackLayout>
    <Label color="black" class="page__content-placeholder" text="TAPIS" row="3" backgroundColor="#000000" color="#FFFF00" fontWeight="Bold"></Label>
    <StackLayout class="hr"row="4"></StackLayout>
    <Label color="black" class="page__content-placeholder" text="TELESKI(TK)" row="5" backgroundColor="#000000" color="#FFFF00" fontWeight="Bold"></Label>
    <StackLayout class="hr"row="6"></StackLayout>
    <Label color="black" class="page__content-placeholder" text="TELESIEGE (TSD)" row="7" backgroundColor="#000000" color="#FFFFFF" fontWeight="Bold"></Label>
    <StackLayout class="hr"row="8"></StackLayout>
    <Label color="black" class="page__content-placeholder" text="TELESIEGE (TSF)" row="9" backgroundColor="#000000" color="#FFFF00" fontWeight="Bold"></Label>
    <StackLayout class="hr"row="10"></StackLayout>
</GridLayout>
<GridLayout class="espacement" backgroundColor="#C4C4C4" rows="50,50,70,50,50,50" columns="*,*,*">
    <Label color="black" class="page__content-placeholder" text="BEARNAIS" row="0" column="0" fontWeight="Bold"></Label>
    <Label class="page__content-placeholder" id="status_open" text="Ouvert" row="0" column="1" fontWeight="Bold" paddingLeft="60px" paddingRight="60px"></Label>
    <Label color="black" class="page__content-placeholder" text="9:00" row="0" column="2" fontWeight="Bold"></Label>
    <Label class="page__content-placeholder" text="Maintenon  |" color="#008000" row="1" column="0" fontWeight="Bold"></Label>
    <Label class="page__content-placeholder" text="Bearnais  |" color="#0000FF" row="1" column="1" fontWeight="Bold"></Label>
    <Label class="page__content-placeholder" text="Grenouilles" color="#0000FF" row="1" column="2"  fontWeight="Bold"></Label>
    <Label color="black" class="page__content-placeholder" text="SAPIN" row="2" column="0" fontWeight="Bold"></Label>
    <Label class="page__content-placeholder" id="status_open" text="Ouvert" row="2" column="1" fontWeight="Bold" paddingLeft="60px" paddingRight="60px"></Label>
    <Label color="black" class="page__content-placeholder" text="9:00" row="2" column="2" fontWeight="Bold"></Label>
    <Label color="black" class="page__content-placeholder" text="BRACA" row="3" column="0" fontWeight="Bold"></Label>
    <Label class="page__content-placeholder" id="status_open" text="Ouvert" row="3" column="1" fontWeight="Bold" paddingLeft="60px" paddingRight="60px"></Label>
    <Label color="black" class="page__content-placeholder" text="9:00" row="3" column="2" fontWeight="Bold"></Label>
    <Label color="black" class="page__content-placeholder" text="PIQUETTE" row="4" column="0" fontWeight="Bold"></Label>
    <Label class="page__content-placeholder" id="status_open" text="Ouvert" row="4" column="1" fontWeight="Bold" paddingLeft="60px" paddingRight="60px"></Label>
    <Label color="black" class="page__content-placeholder" text="9:15" row="4" column="2" fontWeight="Bold"></Label>
    <Label color="black" class="page__content-placeholder" text="TURON" row="5" column="0" fontWeight="Bold"></Label>
    <Label class="page__content-placeholder" id="status_closed" text="Fermé" row="5" column="1" fontWeight="Bold" paddingLeft="60px" paddingRight="60px"></Label>
    <Label color="black" class="page__content-placeholder" text="9:00" row="5" column="2" fontWeight="Bold"></Label>
</GridLayout>
</StackLayout>
</ScrollView>
<StackLayout>
    <BottomNavigation height="100%">
        <TabStrip>
            <TabStripItem>
                <Label col="0" text="&#xf05a;" class="nt-icon fas"></Label>
            </TabStripItem>
            <TabStripItem>
                <Label col="1" text="&#xf041;" class="nt-icon fas"></Label>
            </TabStripItem>
            <TabStripItem>
                <Label col="2" text="&#xf3c5;" class="nt-icon fas"></Label>
            </TabStripItem>
        </TabStrip>
    </BottomNavigation>
</StackLayout>







