<ActionBar class="actionBarCarnet">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left" >
    </ActionItem>
    <Label class="blackPage" text="MEDIA"></Label>
</ActionBar>


    <!-- <FlexboxLayout flexDirection="row" flexWrap="nowrap" justifyContent="space-around">
        <ContentView row="0" class="danger_button" text="Chute" width="600px" height="600px" backgroundColor="#000000"></ContentView>
        <ContentView row="0" class="danger_button" text="" width="600px" height="600px" backgroundColor="#FF7F00"></ContentView> 

    </FlexboxLayout> -->
    <!-- <GridLayout rows="260, 70, 20">

        <ContentView row="0" class="danger_button" text="" width="600px" height="600px" backgroundColor="#FF7F00"></ContentView> 
    
        <Label row="0" text="&#xf064;" class="danger_button"></Label>
        
        <Label row="0" text="ENVOYER" class="danger_button"></Label>

    </GridLayout>
    <FlexboxLayout flexDirection="column" justifyContent="space-around" class="numberPictures"> -->
        <!-- <ContentView row="0" class="danger_button" text="Chute" width="600px" height="600px" backgroundColor="#000000"></ContentView>       
        <Label row="0" text="&#xf064;" class="nt-icon fas" id="fleche_envoi"></Label>
        <Label row="0" text="ENVOYER" id="envoyer"></Label> -->
        <!-- <Label row="1" text="Localisation" backgroundColor="#000000"></Label>
        <StackLayout row="2">
            <Label text="Latitude: 47.12317663" color="#000000"></Label>
            <Label text="Longitude: 2.44583129" color="#000000"></Label>
        </StackLayout>
        <Label row="3" text="Photo(s) obligatoire(s)" backgroundColor="#000000"></Label>
        <ContentView row="3" width="150px" height="300px" backgroundColor="#C4C4C4"></ContentView>
        
        

    </FlexboxLayout>
</ScrollView>  -->
<ScrollView> 
 
<GridLayout rows="240, 20, 40, 50, 50, 50, 50, *,*,*">
    <ContentView row="0" class="danger_button" text="" width="600px" height="600px" backgroundColor="#000000"></ContentView> 
    <Label row="1" text="ENVOYER" id="envoyer"></Label>
    <Label row="2" text="&#xf064;" class="nt-icon fas" id="fleche_envoi"></Label> 
    <Label row="3" text="Localisation" backgroundColor="#000000" color="#F8FD07" fontSize="30px"></Label>
    <Label row="4" text="Latitude: 47.12317663" color="#000000" fontSize="30px"></Label>
    <Label row="5" text="Longitude: 2.44583129" color="#000000" fontSize="30px"></Label>
    <Label row="6" text="Photo (obligatoire)" backgroundColor="#000000" color="#F8FD07" fontSize="30px"></Label>
    <Image row="7" class="galerie" src="https://www.telegraph.co.uk/content/dam/Travel/ski/Crans-Montana-avalanche-skiers-KEYSTONE-ANTHONY%20ANEX.jpg?imwidth=450"  width="800px" stretch="aspectFit"></Image>
    <Image row="8" class="galerie" src="https://www.telegraph.co.uk/content/dam/Travel/ski/Crans-Montana-avalanche-skiers-KEYSTONE-ANTHONY%20ANEX.jpg?imwidth=450"  width="800px" stretch="aspectFit"></Image>
    <Image row="9" class="galerie_end" src="https://www.telegraph.co.uk/content/dam/Travel/ski/Crans-Montana-avalanche-skiers-KEYSTONE-ANTHONY%20ANEX.jpg?imwidth=450"  width="800px" stretch="aspectFit"></Image>
</GridLayout>
</ScrollView> 









<!-- <FlexboxLayout flexDirection="row" flexWrap="nowrap" justifyContent="space-around">
    <ContentView class="danger_button" text="Chute" width="600px" height="600px" backgroundColor="#000000"></ContentView>
    <Label text="&#xf064;" class="nt-icon fas" id="fleche_envoi"></Label>
    <Label text="Envoyer"></Label>
    <Label text="Localisation" backgroundColor="#000000"></Label>
    <StackLayout row="2">
        <Label text="Latitude: 47.12317663" color="#000000"></Label>
        <Label text="Longitude: 2.44583129" color="#000000"></Label>
    </StackLayout>
    <Label row="3" text="Photo (obligatoire)" backgroundColor="#000000"></Label>
    <ContentView row="3" width="2000px" backgroundColor="#000000" class="bandeau_photo"></ContentView>
</FlexboxLayout> -->
<!-- <FlexboxLayout flexDirection="row" justifyContent="space-around">
    <ContentView row="0" width="250px" height="350px" backgroundColor="#C4C4C4" class="photo_danger"></ContentView>
    <ContentView row="1" width="250px" height="350px" backgroundColor="#C4C4C4" class="photo_danger"></ContentView>
    <ContentView row="2" width="250px" height="350px" backgroundColor="#C4C4C4" class="photo_danger"></ContentView>
</FlexboxLayout> -->

<!-- <FlexboxLayout  columns="120px"flexDirection="row" justifyContent="space-around"></FlexboxLayout>
    <Image col="0" src="https://www.telegraph.co.uk/content/dam/Travel/ski/Crans-Montana-avalanche-skiers-KEYSTONE-ANTHONY%20ANEX.jpg?imwidth=450" stretch="aspectFit"></Image>
    <Image col="1" src="https://www.telegraph.co.uk/content/dam/Travel/ski/Crans-Montana-avalanche-skiers-KEYSTONE-ANTHONY%20ANEX.jpg?imwidth=450" stretch="aspectFit"></Image>
    <Image col="2" src="https://www.telegraph.co.uk/content/dam/Travel/ski/Crans-Montana-avalanche-skiers-KEYSTONE-ANTHONY%20ANEX.jpg?imwidth=450" stretch="aspectFit"></Image>
</FlexboxLayout>   
   -->
