<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
        <StackLayout [nsRouterLink]="['/utilisateur/gestioncompte']" row="0" class="nt-drawer__header">
            <Image class="nt-drawer__header-image fas t-26" src="font://&#xf2bd;"></Image>
            <!-- <Label class="nt-drawer__header-brand" text="User Name"></Label> -->
            <Label class="nt-drawer__header-footnote" text="prenom.nom@gmail.com"></Label>
        </StackLayout>
    
        <ScrollView row="1" class="nt-drawer__body">
            <StackLayout>
                <!-- <GridLayout columns="auto, *" class="nt-drawer__list-item"  (tap)="onNavItemTap('/home')">
                    <Label col="0" text="&#xf015;" class="nt-icon fas"></Label>
                    <Label col="1" text="Accueil" class="p-r-10"></Label>
                </GridLayout> -->

                <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/utilisateur')">
                    <Label col="0" text="&#xf015;" class="nt-icon fas"></Label>
                    <Label col="1" text="Accueil" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/informations')">
                    <Label col="0" text="&#xf05a;" class="nt-icon fas"></Label>
                    <Label col="1" text="Informations" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/danger')">
                    <Label col="0" text="&#xf071;" class="nt-icon fas"></Label>
                    <Label col="1" text="Signaler un danger" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/sos')">
                    <Label col="0" text="&#xf479;" class="nt-icon fas"></Label>
                    <Label col="1" text="Contacter les secours" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/danger/historiqueSignalement')">
                    <Label col="0" text="&#xf573;" class="nt-icon fas"></Label>
                    <Label col="1" text="Mes signalements" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/carnet')">
                    <Label col="0" text="&#xf21e;" class="nt-icon fas"></Label>
                    <Label col="1" text="Carnet de santé" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <Button [nsRouterLink]="['/utilisateur/choixstation']" text="DECONNEXION" class="btn btn-warning"></Button> 

            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>

