<ActionBar class="actionBarCarnet">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left" >
    </ActionItem>
    <Label class="blackPage" text="MEDIA"></Label>
</ActionBar>

<GridLayout rows="100, 460">
    <ContentView row="0" width="2000px" backgroundColor="#000000" class="bandeau_photo"></ContentView>
    <ContentView row="1" width="800px" backgroundColor="#C4C4C4" class="photo_danger"></ContentView>
</GridLayout>
<FlexboxLayout  flexDirection="column" justifyContent="center">
    <Label text="&#xf030;" class="nt-icon fas" id="camera"></Label>
    <Label text="PRENDRE UNE PHOTO" id="camera2"></Label>
</FlexboxLayout> 
<FlexboxLayout  flexDirection="row" justifyContent="space-around" align-items="center" class="numberPictures">
    <Label text="&#xf030;" class="nt-icon fas"></Label>
    <Label text="0/3"></Label>
</FlexboxLayout>      
<FlexboxLayout flexDirection="row" justifyContent="space-around">
    <BottomNavigation height="100%">
        <TabStrip>
            <TabStripItem>
                <Label text="&#xf053;" class="nt-icon fas" id="slider"></Label>
            </TabStripItem>
            <TabStripItem>
                <Label text="PRECEDENT" id="slider"></Label>
            </TabStripItem>
            <TabStripItem>
                <Label text="SUIVANT" id="slider"></Label>
            </TabStripItem>
            <TabStripItem>
                <Label text="&#xf054;" class="nt-icon fas" id="slider"></Label>
            </TabStripItem>
        </TabStrip>
    </BottomNavigation>
</FlexboxLayout>












