<ScrollView>
    <GridLayout class="page__content" backgroundColor="#3E3F32">
        
        <FlexboxLayout backgroundColor="#3E3F32" flexDirection="row" flexWrap="wrap" justifyContent="space-around"
            marginTop="50%">
            <Label backgroundColor="#3E3F32" class="page__content-placeholder" text="CAUSE DE BLESSURE" row="0"
                color="white" fontSize=25px; fontWeight="Bold" marginbottom="10%" marginLeft="10%"></Label>
            <Label class="position" color="white" paddingTop="25%" paddingLeft="7%" class="bouttonchute"
                class="iconetotal" text="E" color="white" fontWeight="Bold" width="300px" height="300px"
                backgroundColor="#FF0000"(tap)="causeblessuresos('causeblessure')"></Label>
            <Label class="bouttonchute" color="white" paddingTop="30%" paddingLeft="3%" text="M"
                class="iconecol" width="300px" height="300px" fontWeight="Bold" backgroundColor="#FF0000"(tap)="causeblessuresos('causeblessure')"></Label>
            <Label class="bouttonchute" color="white" paddingTop="20%" paddingLeft="0%" text="F" class="iconetotal"
                width="300px" height="300px" fontWeight="Bold" backgroundColor="#FF0000"(tap)="causeblessuresos('causeblessure')"></Label>
            <Label backgroundColor="#3E3F32" color="white" class="page__content-placeholder" text="TYPE DE BLESSURES"
                row="0" color="white" fontWeight="Bold" fontSize="25px" marginLeft="10%"(tap)="typeblessuresos('typeblessure')"></Label>
            <Label class="bouttonchute" color="white" paddingTop="25%" paddingLeft="7%" text="B" class="iconetete"
                width="300px" height="300px" fontWeight="Bold" backgroundColor="#FF0000"(tap)="typeblessuresos('typeblessure')"></Label>
            <Label class="bouttonchute" color="white" paddingTop="25%" paddingLeft="7%" text="C" class="iconebras"
                width="300px" height="300px" fontWeight="Bold" backgroundColor="#FF0000"(tap)="typeblessuresos('typeblessure')"></Label>
            <Label class="bouttonchute" color="white" paddingTop="25%" paddingLeft="15%" text="K" class="iconetotal"
                width="300px" height="300px" fontWeight="Bold" backgroundColor="#FF0000"(tap)="typeblessuresos('typeblessure')"></Label>
            <Label class="bouttonchute" color="white" paddingTop="25%" paddingLeft="17%" text="J" class="iconetotal"
                width="300px" height="300px" fontWeight="Bold" backgroundColor="#FF0000"(tap)="typeblessuresos('typeblessure')"></Label>
            <Label class="bouttonchute" color="white" paddingTop="25%" paddingLeft="10%" class="picto" text="A"
                width="300px" height="300px" fontWeight="Bold" backgroundColor="#FF0000"(tap)="typeblessuresos('typeblessure')"></Label>
            <Label class="bouttonchute" color="white" paddingTop="20%" paddingLeft="0%" text="F" class="iconetotal"
                width="300px" height="300px" fontWeight="Bold" backgroundColor="#FF0000"(tap)="typeblessuresos('typeblessure')"></Label>
            <!-- <Label class="bouttonchute" color="white" paddingTop="70%" paddingLeft="35%" text="" width="250px" height="250px" fontWeight="Bold" backgroundColor="#3E3F32"marginBottom="20%"></Label> -->

            <Button text="Envoyer" backgroundColor="#0DF24D" color="white" (tap)="submit()" fontSize="Large"
                class="soumission" marginTop="100%"></Button>
        </FlexboxLayout>
        <!-- </FlexboxLayout> -->
    </GridLayout>
</ScrollView>