<ScrollView>
<StackLayout class="form">
      <Label text="CONNEXION" class="motDePasse"></Label>  
      <image row="0" src="~/app/images/Logo Skiview.png" width="40%" height="20%"></image> 
  <TextField class="formSanteCss" hint="Entrez votre mot de passe" color="black" background="lightgrey" width="90%" height="50rem" borderRadius="10%" paddingLeft="8%" fontSize="20rem"></TextField>
  <Button [nsRouterLink]="['/utilisateur/choixstation']" text="ME CONNECTER" width="90%" height="50rem" backgroundColor="black"; color="yellow"></Button> 
</StackLayout>
</ScrollView>

















<!-- <GridLayout class="pagecontent"rows="50,35" columns=*>
  <Label class="pagecontent-placeholder" text="  Vous souhaitez utiliser de nouveau notre application pour votre sortie en station. " fontSize="15"row="0" color="black" textWrap="true"></Label>
  <Label class="pagecontent-placeholder" text="  CONNECTEZ-VOUS!! " row="1" textAlign="center"  fontSize="25" color="black" fontWeight="Bold" textWrap="true"></Label>
</GridLayout>


<StackLayout class="form" marginTop="33%">

  <StackLayout class="input-field">
    <TextField class="input"hint="entrez votre mot de passe" ></TextField>
  </StackLayout>

  <Button [nsRouterLink]="['/utilisateur/choixstation']" backgroundColor="black" color="#F8FD07"text="connexion" (tap)="submit()"></Button>
</StackLayout> -->
