<GridLayout class="pagecontent" rows="50"backgroundColor="white">

    <Label row="0" class="pagecontent-placeholder" text="" color="black" marginTop="0"
        fontWeight="Bold" fontSize="20em"marginTop="0"></Label>

</GridLayout>
<GridLayout >
    <label text="SOS" fontSize="80em" marginBottom="15%" color="white" backgroundColor="#FF0000" class="bouttonsos" 
    paddingLeft="50%" paddingTop="50%"  (tap)="updateLocation()" [nsRouterLink]="['/sos/complement']"></label>
    <Label  paddingTop="100%" paddingLeft="33%" text="A" class="main" ></Label>


</GridLayout>









