<!-- <ScrollView>
<StackLayout class="form">
    <TextField class="formSanteCss" hint="Nom" [(ngModel)]="carnetServ.dossierSante.nom" color="black" background="lightgrey" width="90%" height="45rem" borderRadius="10%" paddingLeft="8%" fontSize="20rem"></TextField>
    <TextField class="formSanteCss" hint="Prénom" [(ngModel)]="carnetServ.dossierSante.prenom" color="black" background="lightgrey" width="90%" height="45rem" borderRadius="10%" paddingLeft="8%" fontSize="20rem"></TextField>
    <TextField class="formSanteCss" hint="Age" [(ngModel)]="carnetServ.dossierSante.age" color="black" background="lightgrey" width="90%" height="45rem" borderRadius="10%" paddingLeft="8%" fontSize="20rem"></TextField>
    <TextField class="formSanteCss" hint="Entrez votre N° de téléphone" color="black" background="lightgrey" width="90%" height="45rem" borderRadius="10%" paddingLeft="8%" fontSize="20rem"></TextField>
    <Label text="&#xf138;" class="nt-icon fas" horizontalAlignment="center" paddingTop="20%" color="#000000"></Label>
    <!-- <Button [nsRouterLink]="['/formulaire/constantes']" text="SUIVANT" class="valider_carnet" backgroundColor="green"; color="white"></Button>
</StackLayout>
</ScrollView> -->

<ScrollView>
    <StackLayout class="form">
        <TextField class="formSanteCss" hint="Nom" [(ngModel)]="carnetServ.dossierSante.nom" color="black" background="lightgrey" width="90%" height="45rem" borderRadius="10%" paddingLeft="8%" fontSize="20rem"></TextField>
        <TextField class="formSanteCss" hint="Prénom" [(ngModel)]="carnetServ.dossierSante.prenom" color="black" background="lightgrey" width="90%" height="45rem" borderRadius="10%" paddingLeft="8%" fontSize="20rem"></TextField>
        <TextField class="formSanteCss" hint="Age" [(ngModel)]="carnetServ.dossierSante.age" color="black" background="lightgrey" width="90%" height="45rem" borderRadius="10%" paddingLeft="8%" fontSize="20rem"></TextField>
        <TextField class="formSanteCss" hint="Entrez votre N° de téléphone" [(ngModel)]="carnetServ.dossierSante.tel" color="black" background="lightgrey" width="90%" height="45rem" borderRadius="10%" paddingLeft="8%" fontSize="20rem"></TextField>
        <Label text="&#xf138;" class="nt-icon fas" horizontalAlignment="center" paddingTop="20%" color="#000000"></Label>
        <!-- <Button [nsRouterLink]="['/']" text="VALIDER" class="valider_carnet" backgroundColor="green"; color="white"></Button>  -->
    </StackLayout>
    </ScrollView>













<!-- <StackLayout class="form">
    <StackLayout class="input-field">
    <TextField class="input" hint="Prénom" [(ngModel)]="carnetServ.dossierSante.nom"></TextField>
    <TextField class="input" hint="Nom" [(ngModel)]="carnetServ.dossierSante.nom"></TextField>
    <TextField class="input" hint="Age" keyboardType="integer"[(ngModel)]="carnetServ.dossierSante.age"></TextField>
    <TextField class="input" hint="Groupe sanguin"></TextField>
    <TextField class="input" hint="Taille (en cm)" keyboardType="integer"></TextField>
    <TextField class="input" hint="Poids (en kg)" keyboardType="integer"></TextField>
    <TextField class="input" hint="Donneur d'organe"></TextField>
    <TextField class="input" hint="Allergie(s)"></TextField>
    <TextField class="input" hint="Pathologie(s)"></TextField>
    <TextField class="input" hint="Traitement(s)"></TextField>
    <TextField class="input" hint="Personne à contacter"></TextField>
    <TextField class="input" hint="Numéro de la personne à contacter" keyboardType="phone" autocorrect="false" autocapitalizationType="none"></TextField>
    <FlexboxLayout flexDirection="row" flexWrap="wrap" justifyContent="space-around">   
        <Button [nsRouterLink]="['/carnet']" text="VALIDER" class="valider_carnet"></Button> 
        <Button [nsRouterLink]="['/carnet']" text="SUPPRIMER" class="supprimer_carnet"></Button>
    </FlexboxLayout>
</StackLayout> -->